<ol class="trail glass">
  @for (e of entries(); track e.id) {
  <li class="trail-row">
    <span class="trail-time">{{ e.timestamp | date:'MMM d, y, h:mm a' }}</span>
    <span class="trail-tag" [class]="actionClass(e.action)">{{ actionLabel(e.action) }}</span>
    <span class="trail-body">
      <span class="t-body">{{ e.summary }}</span>
      @if (e.detail) {
      <span class="t-tertiary trail-detail">{{ e.detail }}</span>
      }
    </span>
    <span class="trail-actor">{{ actorName()(e.actor) }}</span>
  </li>
  }
</ol>
